<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <defaultDocument enabled="true">
      <files><clear /><add value="index.html" /></files>
    </defaultDocument>
    <staticContent>
      <remove fileExtension=".wasm" /><mimeMap fileExtension=".wasm" mimeType="application/wasm" />
      <remove fileExtension=".mjs" /><mimeMap fileExtension=".mjs" mimeType="text/javascript" />
      <remove fileExtension=".onnx" /><mimeMap fileExtension=".onnx" mimeType="application/octet-stream" />
      <remove fileExtension=".tflite" /><mimeMap fileExtension=".tflite" mimeType="application/octet-stream" />
      <remove fileExtension=".task" /><mimeMap fileExtension=".task" mimeType="application/octet-stream" />
    </staticContent>
    <rewrite>
      <rules>
        <rule name="SPA fallback" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/index.html" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
